################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/demoPiplineSetupNew/obj
/demoPiplineSetupNew/bin/Debug/netcoreapp3.1
/demoPiplineSetupNew/.vs/demoPiplineSetupNew/v16/.suo
/demoPiplineSetupNew/.vs/demoPiplineSetupNew/v16
/demoPiplineSetupNew/.vs/demoPiplineSetupNew/DesignTimeBuild/.dtbcache.v2
/demoPiplineSetupNew/.vs/demoPiplineSetupNew/DesignTimeBuild
/demoPiplineSetupNew/.vs/demoPiplineSetupNew/config/applicationhost.config
/demoPiplineSetupNew/.vs/demoPiplineSetupNew/config
/demoPiplineSetupNew/.vs/demoPiplineSetupNew
/demoPiplineSetupNew
